/* COLORI */
/* Blu chiaro - #5682A3 */
/* Blu scuro - #456F92 */
/* Grigio chiaro - #E7EBF0 */

/* COMMONS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: #E7EBF0;
}
#root {
  width: 85%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.25);
}
header {
  width: 100%;
  height: 50px;
  color: white;
  background: #5682A3;
}
i {
  margin-right: 20px;
}
.opaque {
  margin-left: 20px;
  opacity: 0.6;
}
ul {
  list-style: none;
}
img {
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

/* SINGLE CONTACT */
li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 80px;
}
li:hover {
  cursor: pointer;
  background-color: #E7EBF0;
}
li div {
  max-width: 60%;
}
.contact_name {
  font-size: 18px;
  font-weight: 500;
}
.message_text {
  font-size: 14px;
  /* le 3 istruzioni per nascondere il testo */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.date {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}
.active {
  color: white;
  background-color: #5682A3;
}

/* CONTACTS */
#contacts {
  float: left;
  width: 30%;
  height: 100%;
}
#contacts header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
#contacts main {
  width: 100%;
  height: calc(100% - 110px);
  background: white;
  overflow-y: scroll;
}
#contacts ::-webkit-scrollbar {
  width: 2px;
}
#contacts ::-webkit-scrollbar-track {
  background: rgba(230, 230, 230, 0.75);
}
#contacts ::-webkit-scrollbar-thumb {
  background: rgba(86, 130, 163, 0.5);
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-right: 2px solid rgba(230, 230, 230, 0.75);
  background-color: white;
}
#search div {
  position: relative;
  width: 10%;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-color: #E7EBF0;
}
#search div i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#search input {
  padding: 0 10px;
  width: 80%;
  height: 40px;
  border: 2px solid #E7EBF0;
  border-radius: 0 5px 5px 0;
  background-color: #E7EBF0;
}
#search input:focus {
  outline: none;
  background-color: white;
}

/* CHAT */
#chat {
  float: right;
  width: 70%;
  height: 100%;
}
#chat header {
  display: flex;
  padding: 10px 20px;
  align-items: center;
}
#chat main {
  padding: 0 80px;
  width: 100%;
  height: calc(100% - 170px);
  background: white;
}
.sent {
  float: right;
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: lightgreen;
}
.received {
  float: left;
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 10px;
  padding: 20px;
  background-color: lightblue;
}
#chat footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  width: 100%;
  height: 120px;
  background: #E7EBF0;
}
#chat input {
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
  border: none;
  border-bottom: 2px solid #5682A3;
  transition: 0.5s;
}
#chat input:focus {
  outline: none;
  width: 100%;
}
