/* COLORI */
/* Blu chiaro - #5682A3 */
/* Blu scuro - #456F92 */
/* Grigio chiaro - #E7EBF0 */

/* COMMONS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: #E7EBF0;
}
#root {
  width: 85%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.25);
}
header {
  width: 100%;
  height: 50px;
  color: white;
  background: #5682A3;
}
.opaque {
  margin-left: 20px;
  opacity: 0.6;
}
ul {
  list-style: none;
}
img {
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

/* SINGLE CONTACT */
#contacts li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 80px;
}
#contacts li:hover {
  cursor: pointer;
  color: black;
  background-color: #E7EBF0;
}
li div {
  max-width: 60%;
}
.contact_name {
  font-size: 18px;
  font-weight: 500;
}
.message_text {
  font-size: 14px;
  /* le 3 istruzioni per nascondere il testo */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.date {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}
.active {
  color: white;
  background-color: #5682A3;
}

/* CONTACTS */
#contacts {
  float: left;
  width: 30%;
  height: 100%;
}
#contacts header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
#contacts header i {
  margin-right: 20px;
}
#contacts main {
  width: 100%;
  height: calc(100% - 110px);
  background: white;
  overflow-y: scroll;
}
#contacts ::-webkit-scrollbar {
  width: 2px;
}
#contacts ::-webkit-scrollbar-track {
  background: rgba(230, 230, 230, 0.75);
}
#contacts ::-webkit-scrollbar-thumb {
  background: rgba(86, 130, 163, 0.5);
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-right: 2px solid rgba(230, 230, 230, 0.75);
  background-color: white;
}
#search div {
  position: relative;
  width: 10%;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-color: #E7EBF0;
}
#search div i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#search input {
  padding: 0 10px;
  width: 80%;
  height: 40px;
  border: 2px solid #E7EBF0;
  border-radius: 0 5px 5px 0;
  background-color: #E7EBF0;
}
#search input:focus {
  outline: none;
  background-color: white;
}
#contacts p.date {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* CHAT */
#chat {
  float: right;
  width: 70%;
  height: 100%;
}
#chat header {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
#chat header div:nth-of-type(1) {
  display: flex;
  align-items: center;
}
#chat header i {
  margin: 0 5px;
}
#chat main {
  padding: 20px 80px;
  width: 100%;
  height: calc(100% - 170px);
  background: white;
  overflow-y: auto;
}
.sent {
  float: right;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 10px;
  padding: 5px 25px;
  border-right: 2px solid #E7EBF0;
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(231,235,240,0.5) 100%);
}
.received {
  float: left;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 10px;
  padding: 5px 25px;
  border-left: 2px solid #5682A3;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(86,130,163,0.5) 100%);
}
.sent > div, .received > div {
  margin-top: 5px;
  align-self: flex-end;
  display: flex;
}
#chat main i {
  margin-left: 10px;
  color: #456F92;
}

/* sezione opzioni - BONUS*/
/* questi sono i div che rappresentano i messaggi */
main > div {
  position: relative;
}
.options {
  /* posizionamento */
  position: absolute;
  right: 25px;
  bottom: -85px;
  z-index: 2;
  /* dimensioni */
  width: 200px;
  /* height: 50px; */
  /* aspetto */
  background-color: #E7EBF0;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.25);
}
.options ul {
  width: 100%;
}
.options li {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  border-bottom: 2px solid #5682A3;
}
.options li:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(86,130,163);
}

#chat footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  width: 100%;
  height: 120px;
  background-color: white;
}
#chat input {
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
  border: none;
  border-bottom: 2px solid #5682A3;
  transition: 0.5s;
}
#chat input:focus {
  outline: none;
  width: 100%;
}
#chat footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-size: 20px;
}
#chat footer div > div {
  display: flex;
  justify-content: flex-start;
}
#chat footer div i {
  margin-right: 10px;
  color: #5682A3;
}
#chat footer div i:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #456F92;
}
#chat footer button {
  color: #5682A3;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 20px;
}
#chat footer button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #456F92;
}
#chat footer button:focus {
  outline: none;
}
